{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Quiz Scores</h2>
    <table>
        <tr>
            <th>Quiz ID</th>
            <th>Title</th>
            <th>Date</th>
            <th>Score</th>
        </tr>
        <tr>
            <td>1</td>
            <td>HTML Basics</td>
            <td>2024-05-10</td>
            <td>85</td>
        </tr>
        <tr>
            <td>2</td>
            <td>CSS Fundamentals</td>
            <td>2024-05-12</td>
            <td>90</td>
        </tr>
    </table>
</div>
{% endblock %}
